html{
	height: 100%;
	font-family: "Verdana", Geneva, sans-serif;
	color: #7999F5;
}
body{
	background-image:url("/images/theme/bg.jpg");
	margin:0;
	height: 100%;
	display: flex;
	flex-direction: column;
  	justify-content: space-between;
	padding:0;
}
::-webkit-scrollbar {									/* Scrollbars */
	width: .875em;
	height: .875em;
	background-color: #1A1037;
	border: 2px solid #423182;
}
::-webkit-scrollbar-thumb:vertical{								/* Barre */
	background-color: #6978C2;
	border-right: 2px solid #423182;
	border-left: 2px solid #423182;
}
::-webkit-scrollbar-thumb:horizontal{								/* Barre */
	background-color: #6978C2;
	border-top: 2px solid #423182;
	border-bottom: 2px solid #423182;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #7A8FE0;
}
::-webkit-scrollbar-thumb:active{
	background-color: #D9D3F9;
}
::-webkit-scrollbar-corner {							/* Coin de la fenêtre */
	background-color: #1A1037;
}
h1,h2,h3,h4{
	margin:0;
	color: #D8FCFF;
}
form{
	color: #D8FCFF;
}
td
{
	
	border: none;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	padding-right: 7px;
	text-align: center;
}

table
{
	border-collapse: collapse;
	margin: auto;
	color: black;
}

caption
{
	font-weight: bold;
	font-size: 32px;
}

tr.head{
	color:#5F6DC4;
	border-bottom: 4px solid rgba(95, 109, 196, .5);
}

tr.white
{
	background-color: rgba(255, 255, 255, .7);
}

tr.white_i
{
	background-color: rgba(248, 248, 255, .7);
}

tr.bleuclair_i
{
	background-color: rgba(102, 235, 245, .7);
}

tr.blue_i
{
	background-color: rgba(50, 50, 255, .7);
}

tr.red_i
{
	background-color: rgba(255, 50, 50, .7);
}

tr.violet_i
{
	background-color: rgba(191, 12, 219, .7);
}

tr.bleuclair
{
	background-color: rgba(0, 223, 239, .7);
}

tr.blue
{	
	background-color: rgba(0, 0, 255, .7);
}

tr.red
{
	background-color: rgba(255, 0, 0, .7);
}

tr.violet
{
	background-color: rgba(133, 8, 153, .7);
}

table 1
{
	border-collapse: collapse;
	margin: auto;
}

td 1
{
	border: 1px solid black;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	padding-right: 7px;
	text-align: center;
}
span.nom{
	position: absolute;
	color: #8783E6;
	padding: 4px;
	border: 1px solid #6769AA;
	background-color: #130935;
	z-index: 10;
}
span.description{
	position: absolute;
	color: white;
	padding: 10px;
	width: 400px;
	background: rgba(87,87,87,0.8);

}
form.identification{
	margin-top: 50vh;
 	transform: translateY(-50%);
 	color: white;
}
form.identification input.id{
	background-color: #19102A;
	border: 2px solid #49245c;
	height: 30px;
	width: 300px;
	color: #8783e6;
	margin-top: 10px;
}
form.identification input.id:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #19102A inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #8783e6;
}
form.identification input.id:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px #19102A inset;
    -webkit-text-fill-color: #8783e6;
}
form.identification label{
 	text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
}
fieldset{
	width: 0;
	border-radius: 5px;
}

nav ul:first-child{
	font-family: "Verdana", Geneva, sans-serif;
	font-weight: bold;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111022;
    box-shadow:0px -3px #382D55 inset;
}

li.nav{
    float: left;
}

li.fill{
	float: left;
}

li.member,li.deco{
	float: right;
}

li.nav a {
    display: block;
    color: #8173D2;
    text-shadow: 1px 1px black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 3px solid #382D55;
}

li.separator_l{
	display:inline-block;
	float: left;
	height: 47px;
	width: 3px;
    background:linear-gradient(#111022, #342C5B, #111022);
}

li.separator_r{
	float: right;
	height: 47px;
	width: 3px;
    background:linear-gradient(#111022, #342C5B, #111022);
}

li.separator_l span, li.separator_r span{
    display: block;
    color: transparent;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li.deco a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 3px solid #382D55;
}

li.member span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 3px solid #382D55;
}

li.nav a:hover:not(.active) {
    color: #D8FCFF;
    border-bottom: 3px solid #6E7BDB;
    background: radial-gradient(rgba(255,255,255,0.3),transparent);
}

li>a.active {
    color: #D8FCFF;
    border-bottom: 3px solid #6E7BDB;
    background: radial-gradient(rgba(255,255,255,0.3),transparent);
}

div#img{
	display: inline-block;
	color: #7999F5;
	margin-left: 5px;
	margin-right: 5px;
}

img.select{
    border: 2px solid transparent;
}

img.select:hover{
    border: 2px solid #92A9FE;  
}

span.talent{
	font-size: 64px;
}

img.talent{
	margin-left: 5px;
	margin-right: 5px;
	border: 4px solid transparent;
}

img.talent:hover{
    border: 4px solid #92A9FE;  
}

a.active>img{
	border: 4px solid #92A9FE;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #140F36;
    margin: 15% auto; /* 15% from the top and centered */
    border: 2px solid #655EB9;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content h3{
	margin-top: 28px;
}

p.m{
	color: #7999F5;
	text-shadow: 2px 2px black;
}

h3.m{
	color: #E7F4FF;
	font-size: 1.5em;
}

p.spell-cd, p.spell-mana{
	color: white;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 54px;
    height: 28px;
    background-image:url('images/theme/close.png');
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-image:url('images/theme/close_h.png');
}

.close:active{
	background-image:url('images/theme/close_a.png');
}

a.button{
	background-image:url('images/theme/bouton.png');
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 16px;
	line-height: 14px;
	height: 30px;
	font-family: "Verdana", Geneva, sans-serif;
	font-weight: bold;
}

a.button:hover{
	background-image:url('images/theme/bouton_h.png');
	/*box-shadow: 1px 1px 1px 1px black;*/
}

a.button:active{
	background-image:url('images/theme/bouton_a.png');
	/*box-shadow: 1px 1px 1px 1px black;*/
}

input.button{
	border:none;
	background-image:url('images/theme/bouton.png');
	background-repeat:no-repeat;
	background-size: contain;
	display: inline-block;
	text-decoration: none;
	line-height: 14px;
	height: 30px;
	width: 111.5px;
	font-family: "Verdana", Geneva, sans-serif;
	font-weight: bold;
	color: white;
}

input.button:hover{
	background-image:url('images/theme/bouton_h.png');
}

input.button:active{
	background-image:url('images/theme/bouton_a.png');
}

div#spell{
	display: flex;
	justify-content: center;
}

span.spellt{
	font-size: 2.5em;
}

input{
	/*margin-right: 5px;*/
}

div.up_img{
	display: inline-block;
}

div.img{
	position: relative;
	width: 80px;
}
div.img > img{
	position: absolute;
	top:0px;
	left:0px;
}

img.stalent{
	margin-top:5px;
	margin-left: 4px;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

img.touche{
	padding-top: 100px;
}

div#carac{
	display: flex;
	justify-content: center;
}

div#carac > div:first-child{
	margin-right: 40px;
}

.slidecontainer {
    width: 60%;
}

/*.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 26px;
    border: 0;
    /*border-radius: 20px;*/
/*    background: url('/images/theme/slider.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    border-radius: 20px;   
    background: blue;
    background: url('/images/theme/slider.png');
    cursor: pointer;
}*/

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 26px;
    border: 0;
    /*border-radius: 20px;*/
    background: url('/images/theme/slider.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    border-radius: 20px;   
    background: blue;
    background: url('/images/theme/slider.png');
    cursor: pointer;
}

div#twitch{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

div.info{
	display: block;
	width: 100%;
	background-color: rgba(255, 0, 0, .7);
	height: 40px;
	color: black;
	position: fixed;
	top:0;
	left:0;
	line-height: 40px;
	border-radius: 10px;
}

div.info_2{
	display: block;
	width: 100%;
	background-color: rgba(255, 0, 0, .7);
	height: 40px;
	color: black;
	position: fixed;
	top:0;
	left:0;
	line-height: 40px;
	border-radius: 10px;
}

div.info_1{
	display: block;
	width: 100%;
	background-color: rgba(0, 255, 0, .7);
	height: 40px;
	color: black;
	position: fixed;
	top:0;
	left:0;
	line-height: 40px;
	border-radius: 10px;
}

span.info_msg{
	padding-left: 10px;
}

span.info_close{
	position: absolute;
	right: 10px;
}

span.info_close a{
	text-decoration: none;
	color: blue
}

span.info_close a:hover{
	color: green;
}