body{
	background-image:url("/images/theme/bg.jpg"); 
}
section{
	background-color: rgba(65,105,225,0.7);
	border-radius: 5px;
	padding: 5px;
}
p
{
	color: blue;
}

td
{
	
	border: 1px solid black;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	padding-right: 7px;
	text-align: center;
}

table
{
	border-collapse: collapse;
	margin: auto;
}

caption
{
	font-weight: bold;
	font-size: 32px;
}

tr.bleuclair
{
	background-color: #00DFEF;
}

tr.blue
{
	
	background-color: blue;
	text-align :center;
}

tr.red
{
	
	background-color: red;
}

tr.violet
{
	
	background-color: #BF0CDB;
}

table 1
{
	border-collapse: collapse;
	margin: auto;
}

td 1
{
	border: 1px solid black;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	padding-right: 7px;
	text-align: center;
}
span.nom{
	position: absolute;
	color: white;
	padding: 1px;
	background: rgba(87,87,87,0.8);
}
form.identification{
	margin-top: 50vh;
 	transform: translateY(-50%);
 	color: white;
}
fieldset{
	width: 0;
	border-radius: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav{
    float: left;
}

li.member,li.deco{
	float: right;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.deco a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.member span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover:not(.active) {
    background-color: #00007f;
}

.active {
    background-color: #00007f;
}

div#img{
	display: inline-block;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
}